{% extends 'base.html' %}

{% block title %}New Task Entry{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/tasks/index">Task Entries</a></li>
  <li role="presentation" class="active"><a href="#">New Task</a></li>
</ul>

<h1>Create New Task</h1>

<form id="formBlog" name="formTask" method="post" action="/tasks/create">
    <div class="form-group">
        <label for="inputName">Task Name</label><br />
        <input type="text" name="name" id="name" />
    </div>
    <div class="form-group">
        <label for="inputTaskProjectId">Project Id</label><br />
        <input type="text" name="task_project_id" id="task_project_id" />
    </div>
   <!-- <div class="form-group">
        <label for="inputTask">Project for Task</label><br />
        <select name="task_project_id" form="formTask">
            <option>41</option>
            <option>42</option>
            <option>43</option>
        </select>
    </div>
   -->
    <button type="submit" class="btn btn-default">Save</button>
    <a href="/customers/index">Cancel</a>
</form>

{% endblock %}
