{% extends 'base.html' %}

{% block title %}Edit Blog Entry{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/post/index">Blog Posts</a></li>
  <li role="presentation" class="active"><a href="#">Edit Post</a></li>
</ul>

<h1>Edit Project</h1>

<p>User: {{ project.name }}</p>

<form id="formBlog" name="formBlog" method="post" action="/post/update">
    <div class="form-group">
        <input type="hidden" name="project_id" id="id" value="{{ project.project_id }}">
        <input type="hidden" name="user_id" id="id" value="{{ project.user_id }}">
        <label for="inputTitle">Project Title</label><br />
        <input type="text" name="title" id="title" size="80" maxlength="255" value="{{ project.title }}"/>
    </div>
    <div class="form-group">
        <label for="inputPost">Project Description</label><br />
        <textarea name="post" id="post" cols="80" rows="8">{{ project.post }}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
    <a href="/post/index">Cancel</a>
</form>

{% endblock %}
