{% extends 'base.html' %}

{% block title %}Customer-{{ customer.customer_name }}{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/customers/index">Customers</a></li>
  <li role="presentation" class="active"><a href="#">Show Customer</a></li>
</ul>

<h1>{{ customer.customer_name }}</h1>

<h4>Customer Id: {{ customer.customer_id }}</h4>
<!--
<h4>
    <a href="/customers/edit/{{ customer.customer_id }}" class="btn btn-info" role="button">Edit Customer</a>
    <a href="/customers/delete/{{ customer.customer_id }}" class="btn btn-danger" role="button">Delete Customer</a>
</h4>
-->

<p>{{ project.post }}</p>

{% endblock %}
