{% extends 'base.html' %}

{% block title %}Delete this Blog Item{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/post/index">Blog Posts</a></li>
  <li role="presentation" class="active"><a href="#">Delete Post</a></li>
</ul>

<h1>{{ blog.title }}</h1>

<h3>{{ blog.timestamp|date }}</h3>

<h4>Post Id: {{ blog.id }}</h4>

<h4>
    <a href="/post/show/{{ blog.id }}" class="btn btn-info" role="button">No, go back</a></li>
    <a href="/post/remove/{{ blog.id }}" class="btn btn-danger" role="button">Yes, delete it</a></li>
</h4>

<p>{{ blog.post }}</p>

{% endblock %}
