{% extends 'base.html' %}

{% block title %}Project-{{ project.title }}{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/post/index">Projects</a></li>
  <li role="presentation" class="active"><a href="#">Show Project</a></li>
</ul>

<h1>Project Title: {{ project.title }}</h1>

<h4>User: {{ project.name }}</h3>

<h4>{{ project.timestamp|date }}</h3>

<h4>Project Id: {{ project.project_id }}</h4>

<h4>
    <a href="/post/edit/{{ project.project_id }}" class="btn btn-info" role="button">Edit Project</a>
    <a href="/post/delete/{{ project.project_id }}" class="btn btn-danger" role="button">Delete Project</a>
</h4>

<p>{{ project.post }}</p>

{% endblock %}
