{% extends 'base.html' %}

{% block title %}Blog Entry {{ blog.title }}{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/post/index">Blog Posts</a></li>
  <li role="presentation" class="active"><a href="#">Edit Post</a></li>
</ul>

<h1>{{ blog.title }}</h1>

<h4>User: {{ blog.name }}</h3>

<h4>{{ blog.timestamp|date }}</h3>

<h4>Post Id: {{ blog.blog_id }}</h4>

<h4>
    <a href="/post/edit/{{ blog.blog_id }}" class="btn btn-info" role="button">Edit Post</a>
    <a href="/post/delete/{{ blog.blog_id }}" class="btn btn-danger" role="button">Delete Post</a>
</h4>

<p>{{ blog.post }}</p>

{% endblock %}
