{% extends 'base.html' %}

{% block title %}Blog Items{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/post/index">Blog Posts</a></li>
  <li role="presentation" class="active"><a href="#">Edit Post</a></li>
</ul>

<h1>{{ blog.title }}</h1>

<h3>{{ blog.timestamp|date }}</h3>

<h4>Post Id: {{ blog.id }}</h4>

<h4>
    <a href="/post/edit/{{ blog.id }}" class="btn btn-info" role="button">Edit Post</a></li>
    <a href="/post/delete/{{ blog.id }}" class="btn btn-danger" role="button">Delete Post</a></li>
</h4>

<p>{{ blog.post }}</p>

{% endblock %}
